# Receptify Frontend - Environment Variables Template

# URL of the Django backend server
# On local: http://127.0.0.1:8000
REACT_APP_BACKEND_URL=http://127.0.0.1:8000

# Toggle to display Auto-fill credentials in Sandbox (true/false)
NEXT_PUBLIC_SHOW_DEMO_CREDENTIALS=true
